@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Proxima Nova';
  src: url('/src/assets/proximanova/proximanova_regular.ttf') format('truetype');
  /* font-weight: 900; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/src/assets/proximanova/proximanova_black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
:root {
  font-family: "Playfair Display";
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.jt-section-title {
 font-family: 'Hammersmith One';
 /* font-size: 22px; */
}
.jt-body-1 {
  font-family: "Playfair Display";
}
.jt-body-2 {
  font-family: "Proxima Nova";
}
.jt-body-3 {
  font-family: "Proxima Nova";
  font-weight: 900;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
